HOST_USER= # whoami
NODE_WORKSPACE=/home/${HOST_USER}/development

NODE_VERSION=24.21.0-slim
YARN_VERSION=4.18.0
NPM_VERSION=12.2.0
BUN_VERSION=1.4.2

MONGO_VERSION=9.0.2
MONGO_USERNAME=root
MONGO_PASSWORD=root
MONGO_DB_PORT=27017
MONGO_DB_STORE=mongo_data
